@page
@model LoginModel

@{
    ViewData["Title"] = "Авторизация в СППР";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header bg-dark text-white text-center py-4">
                <h3 class="font-weight-light my-2">🏢 Система закупок</h3>
                <p class="mb-0" style="font-size: 0.9rem; color: #ccc;">Система поддержки принятия решений</p>
            </div>
            <div class="card-body p-4 border-bottom">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="director@ds.kz" value="director@ds.kz" />
                        <label asp-for="Input.Email" class="form-label">Логин администратора</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Пароль" />
                        <label asp-for="Input.Password" class="form-label">Пароль</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-4">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label class="form-check-label" asp-for="Input.RememberMe">
                            Запомнить меня на этом устройстве
                        </label>
                    </div>

                    <div class="d-grid gap-2">
                        <button id="login-submit" type="submit" class="btn btn-primary btn-lg fw-bold">ВОЙТИ В СИСТЕМУ</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3 bg-light">
                <div class="small text-muted">Доступ только для администрации организации &copy; 2026</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}